.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(4px + 2vmin);
  color: rgb(0, 0, 0);
}

.button {
  width: 300px;
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  justify-self: stretch;
}

.active {
  width: 300px;
  background-color: rgba(240, 248, 255, 0.495);
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  justify-self: stretch;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
